.play
  text-align center
  padding 20px

#tetrisCanvas
  display block
  margin auto
  background white

#holdCanvas
  display block
  margin auto
  background black

.linesCleared
  margin-top 20px
  font-size 20px
  text-align center

.holdText, .nextText
  font-size 20px
  margin-top 0px
  margin-bottom 10px
  text-align center

#nextCanvas
  display block
  margin auto
  background white

@font-face
  font-family 'gameOver'
  src url('/fonts/game_over.woff') format('woff')
  // src url('/fonts/game_over.ttf') format('truetype')

#hacky-font-loader
  font-family 'gameOver'
  position absolute
  top -9999999px
  left -9999999px

#startTetrisButton
  text-align center

#github
  text-align center
  padding-top 2rem

#github a
  color #333333
  font-size 1.7rem
  text-decoration none

#github a:hover
  color #ecf0f1
  text-decoration none

.howToPlay
  margin-top 20px
  margin-bottom 10px
  text-align center
  h1
    font-size 20px
  ul
    text-align left
    list-style-type none
    font-size 15px
