doctype html
html
  head
    meta(charset='utf-8')
    title Tetris
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block stylesheets
  body
    block content
    block scripts
